@model List<PriceCalculation.ViewModels.ShowTableVieModel>

@{
    ViewData["Title"] = "OverView";
    var test1 = Model;
    int count = 0;

    
}

<style>
    .hiddenRow {
        padding: 0 !important;
    }

    .iconsStyle {
        font-size: 1.5rem;
        color: black;
    }
</style>

<table class="table table-hover table-head-fixed text-nowrap" style="border-collapse:collapse;">

    @foreach (var OfferId in Model)
    {
        <tbody>
            <tr data-toggle="collapse" data-target="#client_@count" class="accordion-toggle">
                <td>
                    <div class="row">
                        <div class="col">@OfferId.OfferId</div>

                        <div class="col">
                            <a asp-action="EditClient" asp-controller="Client" asp-route-Id="@OfferId.OfferId">
                                <i class="bi bi-pencil-square iconsStyle"></i>
                            </a>
                            <i class="bi bi-trash iconsStyle"></i>
                            <a asp-action="AddPacket" asp-controller="Packet" asp-route-clientId="@OfferId.OfferId">
                                <i class="bi bi-plus-circle iconsStyle"></i>
                            </a>
                            <a asp-action="SendMail" asp-controller="Home" asp-route-clientId="@OfferId.OfferId">
                                <i class="bi bi-envelope iconsStyle"></i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            @foreach (var opl in OfferId.OrderPostionLogoListe)
            {
                <tr>
                    <td class="hiddenRow">
                        <div class="row">
                            <div class="accordian-body collapse col" id="client_@count">@opl.Order.NumberOfPieces Stück</div>
                            @if (opl.Order.TextilColor == null)
                            {
                                continue;
                            }
                            else
                            {
                                <div class="accordian-body collapse col" id="client_@count">@opl.Order.TextilColor.TextilColorName TextilCOlorName</div>
                            }
                            @if (opl.Order.Textil == null)
                            {
                                continue;
                            }
                            else
                            {
                                <div class="accordian-body collapse col" id="client_@count">@opl.Order.Textil.TextilName TexilName</div>
                            }
                        </div>
                </tr>
            }

        </tbody>
        count++;
    }
</table>



